<div class="main"> 
  <div class="info" (click)="personalIsActive = true;messageIsActive = false;contactIsActive = false;click()">
    <h3>Personal Information</h3>
  </div>
  <div class="info" (click)="contactIsActive = true;messageIsActive = false;personalIsActive = false;click()">
    <h3>Contact Information</h3>
  </div>
  <div class="info" (click)="messageIsActive = true;personalIsActive = false;contactIsActive = false;click()">
    <h3>Message</h3>
  </div>
</div> 

<ng-container *ngIf="personalIsActive">
  <app-personal [data]></app-personal>
</ng-container>

<ng-container *ngIf="contactIsActive">
    <app-contact></app-contact>
</ng-container>

<ng-container *ngIf="messageIsActive">
    <app-message></app-message>
</ng-container>


<div class="buttons">
  <button class="cancel">Cancel</button>

  <button class="next" (click)="click()">Next</button>
</div>