<ng-container *ngIf="!appservice.loginpageIsactive">
<div class="main"> 
  <div class="info" (click)="appservice.personalIsActive = true;appservice.messageIsActive = false;appservice.contactIsActive = false;" [ngClass]="appservice.personalIsActive ? 'background' : none"  >
    <h3>Personal Information</h3>
  </div>
  <div class="info"  (click)="contactclick()" [ngClass]="appservice.contactIsActive ? 'background' : none" >
    <h3>Contact Information</h3>
  </div>
  <div class="info" (click)="messageclick()" [ngClass]="appservice.messageIsActive ? 'background' : none" >
    <h3>Message</h3>
  </div>
</div> 


<ng-container *ngIf="appservice.personalIsActive" >
  <app-personal></app-personal>
</ng-container>

<ng-container *ngIf="appservice.contactIsActive">
  <app-contact></app-contact>
</ng-container>

<ng-container *ngIf="appservice.messageIsActive">
  <app-message></app-message>
</ng-container>



<div class="buttons">
  <button class="cancel" (click)="cancel()">Cancel</button>
  <button *ngIf="!appservice.personalIsActive" class="next" (click)="back()">Back</button>

  <button *ngIf="!appservice.messageIsActive" class="next" (click)="next()">Next</button>
  <button *ngIf="appservice.messageIsActive" class="next" (click)="register()">Sign Up</button>
</div>
</ng-container>

<ng-container *ngIf="appservice.loginpageIsactive">
  <app-loginpage [state]="appservice.state"></app-loginpage>
</ng-container>